.loader {
    width: 50px;
    height: 50px;
    border: 5px solid #000000;
    /* borde principal */
    border-top: 5px solid #c9a227;
    /* color distinto para crear el efecto */
    border-radius: 50%;
    animation: girar 1s linear infinite;
    margin: 0 auto;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}